python-dotenv
pydantic
langchain
langgraph
requests
beautifulsoup4
bs4
requests
lxml
pdfplumber
python-docx
tqdm
urllib3
rank-bm25
langchain-groq
fastapi
streamlit
pytesseract
rank-bm25
sentence-transformers
faiss-cpu
pymupdf
loguru
fastapi
uvicorn

